@media (min-width: 0px) {
  .k8em0 {
    margin: 0 auto;
    background: url(./k8emo.jpg) 600px 600px;
    width: 600px;
    height: 600px;
  }
}

@media (min-width: 600px) {
 .k8em0 {
    background: url(./k8emo.jpg) 0px 600px;
  }

}

@media (min-width: 900px) {
 .k8em0 {
    background: url(./k8emo.jpg) 600px 0px;
  }
}

@media (min-width: 1200px) {
 .k8em0 {
    background: url(./k8emo.jpg) 0 0px;
  }
}
